<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head><title>Taco Cloud</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<form method="POST" th:action="@{/orders}" th:object="${order}">
    <div class="container ">
        <h1>Order your taco creations!</h1>
        <img th:src="@{/images/TacoCloud.png}"/>
        <a th:href="@{/design}" id="another">Design another taco</a><br/>
        <div th:if="${#fields.hasErrors()}">
            <span class="validationError">Please correct the problems below and resubmit.</span>
        </div>
        <h3>Deliver my taco masterpieces to...</h3>
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" required/><br/>
        <span class="invalid-feedback">
        Please provide a valid name.
    </span>
        <label for="street">Street address: </label>
        <input type="text" th:field="*{street}" required/><br/>
        <span class="invalid-feedback">
        Please provide a valid street.
    </span>
        <label for="city">City: </label>
        <input type="text" th:field="*{city}" required/><br/>
        <span class="invalid-feedback">
        Please provide a valid city.
    </span>
        <label for="state">State: </label>
        <input type="text" th:field="*{state}" required/><br/>
        <span class="invalid-feedback">
        Please provide a valid stage.
    </span>
        <label for="zip">Zip code: </label>
        <input type="text" th:field="*{zip}" required/><br/>
        <span class="invalid-feedback">
        Please provide a valid zipcode.
    </span>
        <h3>Here's how I'll pay...</h3>
        <label for="ccNumber">Credit Card #: </label>
        <input type="text" th:field="*{ccNumber}" required/><br/>
        <span class="invalid-feedback">
        Please provide a valid cc number.
    </span>
        <label for="ccExpiration">Expiration: </label>
        <input type="text" th:field="*{ccExpiration}" required/><br/>
        <span class="invalid-feedback">
        Please provide a valid cc Expiration.
    </span>
        <label for="ccCVV">CVV: </label>
        <input type="text" th:field="*{ccCVV}" required/><br/>
        <span class="invalid-feedback">
        Please provide a valid CVV.
    </span>
        <input type="submit" value="Submit order"/>
    </div>
</form>
</body>
</html>